<div class="pb-10 flex justify-center">
    <div class="" style="width: 768px;">
        <div *ngIf="article" class="container mx-auto px-4 py-8">
            <!-- Article Title -->
            <h1 class="text-2xl font-bold mb-3">{{article.title}}</h1>

            <!-- Subtitle -->
            <h2 class="text-lg font-semibold text-gray-700 mb-2">{{article.subtitle}}</h2>

            <!-- Author -->
            <div class="text--md flex items-center text-gray-600 mb-2">
                <span>Written by: {{article.createdBy | titlecase}}</span>
            </div>

            <!-- Cover Image -->
            <div class="mb-8">
                <img [src]="article.imageUrl" alt="Cover Image" class="w-full rounded-lg shadow-md">
            </div>

            <!-- Content -->
            <div class="prose" [innerHTML]="article.description">
            </div>
        </div>
    </div>
</div>