<div class="flex justify-center items-center bg-gray-100" style="height: 90vh;">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-gray-800">EduHub</h1>
        <p class="text-gray-600 mt-4">Pulish Your Course</p>
        <br> <br> <br>
        <div class="flex justify-center items-center">
            <asl-google-signin-button type='standard' size='large' theme="filled_blue"></asl-google-signin-button>
        </div>

        <!-- <div *ngIf="user">
            <img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
            <div>
                <h4>{{ user.name }}</h4>
                <p>{{ user.email }}</p>
            </div>
        </div> -->
    </div>
</div>