<div class="pb-10 flex justify-center">
    <div class="" style="width: 1000px;">
        <div *ngIf="course" class="container mx-auto px-4 py-8">

            <button (click)="checkout()">Checkout with Stripe</button>
            <!-- Article Title -->
            <h1 class="text-2xl font-bold mb-3">{{course.title}}</h1>

            <!-- Subtitle -->
            <h2 class="text-lg font-semibold text-gray-700 mb-2">{{course.subtitle}}</h2>

            <!-- Author -->
            <div class="text--md flex items-center text-gray-600 mb-2">
                <span>Written by: {{course.createdBy | titlecase}}</span>
            </div>

            <!-- Cover Image -->
            <div class="mb-8">
                <img [src]="course.imageUrl" alt="Cover Image" class="w-full rounded-lg shadow-md">
            </div>

            <!-- Content -->
            <div class="prose" [innerHTML]="course.description">
            </div>

            <div class="text-lg font-bold mb-3">
                Lessons
            </div>
            <div *ngFor="let l of lessons; let idx = index" (click)="openLesson(l.id)"
                class="bg-gray-100 p-3 mb-2 cursor-pointer transition duration-300 ease-in-out transform hover:scale-105">
                <div class="">
                    {{idx+1}}. {{l.title}}
                </div>
                <div class="text-sm pl-4 ">
                    {{l.subtitle}}
                </div>
            </div>

        </div>
    </div>
</div>